/* The main container*/
#portfolio {
  text-align: center;
  margin-top: 6.875rem; /* pushing down the project section*/
}

/* Project container */
.project-container {
  margin-top: 1.875rem;
}

/* Project header */
.project-name {
  color: var(--headings-color);
  font-size: 1.875rem;
  font-weight: 600;
  line-height: 2.25rem;
  margin-bottom: 1rem;
}

/* project description */
.project-description {
  font-size: 1.1875rem;
  max-width: 19.5rem; /* setting the max width for the description*/
  color: var(--Menu-Text);
  margin: 0 auto 1.5rem auto;
}

/* styles for the header of the section*/
.section-header {
  margin-bottom: 5rem;
}

/* styles for the langauges used for each project*/
.project-languages {
  gap: 0.4375rem;
  display: flex;
  font-size: 0.875rem;
  line-height: 1rem;
  flex-direction: row;
  color: var(--Gold-Brass);
  justify-content: center;
}

/*  */
.divider {
  margin-top: 2.5rem;
  margin-bottom: 3.125rem;
}

@media (min-width: 768px) {
  /* project description */
  .project-description {
    color: var(--Menu-Text);
    max-width: 32rem; /* setting the max width for the description*/
    margin: 0 auto 1.5rem auto;
    font-size: 1.1875rem;
  }

  /* styles for the langauges used for each project*/
  .project-languages {
    font-size: 0.9375rem;
  }
}

/*  */
@media (min-width: 1024px) {
  /* The main container*/
  #portfolio {
    margin-top: 8.125rem;
  }

  /* Project header */
  .project-name {
    font-size: 2.8125rem;
  }

  /* styles for the langauges used for each project*/
  .project-languages {
    font-size: 1.0625rem;
  }
}
