@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --background-color: #ebe2d9; /*background color*/
  --container-bck-color: #f5f0eb; /*container background*/
  --headings-color: #3b0764; /*headings, primary*/
  --hovering-color: #7c3aed; /*links, hovers*/
  --Gold-Brass: #b8860b; /*decorative accents*/
  --Menu-Text: #1c1017; /*(body text, near-black */
}

body {
  background-color: var(--background-color);
  font-family: "Cormorant Garamond";
}

a {
  text-decoration: none;
}

/*styles for the container*/
.container {
  background-color: var(--container-bck-color);
  border: 1px solid var(--Gold-Brass);
  margin: 17px auto;
  width: 90%;
}

/*styles for the inner container*/
.inner-container {
  margin: auto;
  width: 95%;
}

@media (min-width: 768px) {
  /*styles for the container*/
  .container {
    margin: 28px auto;
    width: 94%;
  }

  /*styles for the inner container*/
  .inner-container {
    margin: auto;
    width: 93%;
  }
}
@media (min-width: 1024px) {
  /*styles for the container*/
  .container {
    margin-top: 25px;
    width: 97%;
  }

  /*styles for the inner container*/
  .inner-container {
    margin: auto;
    width: 77%;
  }
}
