/*  */
#about {
  margin-top: 9.375rem;
}

/*  */
.high-light {
  color: var(--headings-color);
  font-size: 1.1875rem;
  font-style: italic;
  font-weight: 800;
}

/*  */
.about-para {
  font-size: 1.25rem;
  font-weight: 500;
  width: 90%;
  margin: 0 auto 0 auto;
  color: var(--Menu-Text);
}

/*  */
.first-para {
  margin: 0 auto 0.625rem auto;
}

/*  */
.second-para {
  margin: 0 auto 1.25rem auto;
}

/*  */
.fouth-para {
  font-style: italic;
  color: var(--headings-color);
  font-size: 1.25rem;
  width: 90%;
  margin: 1.5625rem auto 0 auto;
}

@media (min-width: 768px) {
  /*  */
  #about {
    margin-bottom: 6.25rem;
  }

  /*  */
  .about-para {
    font-size: 1.4375rem;
    font-weight: 500;
    width: 90%;
    margin: 0 auto 0 auto;
    color: var(--Menu-Text);
  }

  /*  */
  .high-light {
    color: var(--headings-color);
    font-size: 1.4375rem;
    font-style: italic;
    font-weight: 800;
  }

  /*  */
  .first-para {
    margin: 0 auto 1.25rem auto;
  }

  /*  */
  .second-para {
    margin: 0 auto 1.25rem auto;
  }
}

@media (min-width: 1024px) {
  /*  */
  #about {
    margin-bottom: 11.25rem;
  }

  /*  */
  .about-para {
    font-size: 1.5rem;
    width: 80%;
    margin: 0 auto 0 auto;
  }

  /*  */
  .first-para {
    margin: 0 auto 0.625rem auto;
  }

  /*  */
  .second-para {
    margin: 0 auto 1.25rem auto;
  }

  /*  */
  .fouth-para {
    font-style: italic;
    color: var(--headings-color);
    font-size: 1.375rem;
    width: 90%;
    margin: 1.5625rem auto 0 auto;
  }
}
