/* main container */
#contact {
  margin-top: 6.25rem;
  margin-bottom: 6.25rem;
}

/* haeder of the section */
.section-header {
  margin-bottom: 3.125rem;
}

/* contact message styles */
.contact-message {
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 1.75rem;
  font-style: italic;
  color: var(--Menu-Text);
}

/* gmail styles */
.gmail {
  font-size: 1.25rem;
  line-height: 2rem;
  color: var(--headings-color);
}

/* container for the images */
.contact-icons {
  gap: 1.25rem;
  display: flex;
  margin-top: 3.125rem;
  justify-content: center;
}
.contact-icons img {
  width: 1.25rem;
  height: 1.25rem;
}

/* copy right styles */
.copy-rights {
  color: #4e4c4c;
  font-weight: 300;
  max-width: 13.125rem;
  margin: auto;
}

/* line divider */
.divider {
  margin-top: 5rem;
}

/* line divider */
.section-end {
  margin-top: 6.25rem;
}

@media (min-width: 768px) {
  /* contact message styles */
  .contact-message {
    font-size: 1.5rem;
    line-height: 1.75rem;
  }

  /* gmail styles */
  .gmail {
    font-size: 1.4375rem;
    line-height: 2rem;
    color: var(--headings-color);
  }

  /* images for the contact section */
  .contact-icons img {
    width: 1.5625rem;
    height: 1.5625rem;
  }
}
