/* setting the size for the icons*/
img {
  width: 32px;
  height: 32px;
}

/* inner navbar contianer */
.inner-navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;
}

/* Make navbar fixed at the top of the container */
.inner-container {
  position: absolute;
  top: 0;
  transform: translateX(-50%); /* Center the inner container horizontally */
  background-color: var(--container-bck-color);
  z-index: 1000; /* Ensure the navbar is above other content */
  width: 100%;
  left: 0;
  transform: none;
}

/* styles for the menu items*/
.mobile-menu li {
  list-style: none;
  margin-top: 40px; /*to give space between navlinks */
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-decoration: none;
  letter-spacing: 7.5px;
}
.mobile-menu a,
.desktop-menu a {
  color: var(--Menu-Text); /*setting the color for the menu items*/
}
.mobile-menu li:first-child {
  margin-top: 110px; /* giving the first item margin at the top*/
}

/* logo */
.logo {
  font-size: 20px;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: 5px;
  color: var(--headings-color);
}

/* the diveder line  */
.box {
  width: 5px;
  height: 5px;
  background-color: var(--Gold-Brass);
}
.line {
  width: 40px;
  height: 1px;
  background-color: var(--Gold-Brass);
}
.divider {
  margin-top: 105px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

/*container for desktop*/
.desktop-menu {
  display: none; /* hiding the desktop menu on mobile*/
}

/**/
@media (min-width: 768px) {
  /*styles for the inner container*/
  .inner-container {
    top: 0;
    width: 94%;
  }

  /* inner navbar contianer */
  .inner-navbar {
    gap: 140px;
    margin-bottom: 10px;
  }

  /* inner container for the desktop menu items */
  .desktop-menu {
    display: block; /*displaying the desktop menu*/
    display: flex;
    flex-direction: row;
    gap: 35px;
  }
  .desktop-menu li {
    list-style: none;
    letter-spacing: 3.5px;
    font-size: 14px;
    line-height: 20px;
  }

  /* hiding the mobile menu on desktop */
  .mobile-menu {
    display: none; /* hiding the mobile menu on desktop */
  }
  .mobile-toggle {
    display: none; /* hiding the mobile toggle on desktop */
  }
}

@media (min-width: 1024px) {
  .inner-container {
    top: 0;
    width: 97%;
  }

  /* inner container for the desktop menu items */
  .desktop-menu {
    gap: 40px;
  }
  .desktop-menu li {
    letter-spacing: 7.5px;
    font-size: 16px;
  }
}
